.outside{
	right: 0;
	background:#c9a78f;
	width:  2.5%;
	height: 1%;
	padding: 1% 2%;
	margin: 1%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	border:black;
}
button:active {
	background-color: #aa8469;
}
pre{
	line-height: 5em;
	font-size: 1.1rem;
}

.panel{
	background-color: #aa8469; 
	top:0;
	display: flex;
	width:100%;
	left:0;
	position: fixed;

}
figure img {
	width: 100%;
}
.Name_out{
	top: 0;
	right:0;
	width:50%;
	display: flex;
}
a{
	width:20%;
}
h1{
	top: 0;
	left: 0;
	width:100%;
}
div.post{
	background-color:#EEE;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 1%;
	margin-left:10%;
	margin-right:10%;
	border:black;
}

article.post{
	margin:0;
	padding:0.3rem;
	margin-top:4%;
}


button{
	background:#c9a78f;
}
